$std-font-size: 14px;

@mixin child-color($short, $long) {
    #{$short} {
        color: $long;
    }
}

@mixin position($position, $center: null, $left: null, $right: null) {
    position: $position;
    @if $center {
        left: 50%;
        transform: translateX(-50%);
    } @else if $left {
        left: $left;
    } @else if $right {
        right: $right;
    }
}

@mixin skill-dimensions {
    height: 50px;
    width: 50px;
}

.font-size {
    font-size: $std-font-size !important;
}

.navbar-default {
    min-height: 40px !important;
    font-size: 12px;

    .navbar-nav {
        & > li > a {
            padding-top: 13.5px;
            padding-bottom: 13.5px;
        }

        .caret {
            margin-left: 5px;
        }
    }

    .navbar-form {
        padding-right: 0;
    }
}

.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    unselectable: on;
}

.dropdown {
    &:hover {
        .dropdown-menu {
            display: block;
            margin-top: 0;
        }
    }
}

.jobsprite {
    width: 28.5px;
    height: 28.5px;
    float: left;
    margin-top: -4px;
    margin-right: 2px;
}

.label {
    font-size: 90%;
}

.skill-table {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: -5px -7px;
    background-size: 317px 510px;
    .skill-tr {
        .skill-td {
            padding: 0 10px 28px 10px;
        }

        &:last-of-type .skill-td {
            padding: 0 10px;
        }
    }

}

.skill {
    @include skill-dimensions;

    .skill-bdr {
        @include position(absolute);
        @include skill-dimensions;

        &.g {
            -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
            -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
            -webkit-filter: grayscale(100%);
            filter: gray;
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
        }
    }

    .skill-lvl {
        @include position(relative, $center: true);
        font-size: 10px;
        margin: 43px 0 0 0;
        width: 42px;
        padding: 3px 6px;
        background-color: #111;
        letter-spacing: .5px;

        @include child-color('&.g', greenyellow);
        @include child-color('&.b', skyblue);
    }
}

.popover {
    width: 250px;
    font-size: 11px;

    .divider {
        border-bottom: 1px solid #666;
        width: 95%;
        margin: 5px 0;
    }

    .dnow {
        @include position(relative, $left: -3px);
        border: 1px solid orange;
        margin-top: 5px;
        padding: 2px;
    }

    @include child-color('.o', orange);
    @include child-color('.y', yellow);
    @include child-color('.p', palegoldenrod);
    @include child-color('.r', #ff3232);
    @include child-color('.s', skyblue);
    @include child-color('.v', violet);

    .dnextv {
        opacity: .8;
        filter: alpha(opacity = 80);

        @include child-color('.v', royalblue);
    }
}

.popover-title {
    text-align: center;
    font-size: 12px;
}


.progress {
    @extend .font-size;
    margin: 5px 0 15px 0;
    height: 20px;
    color: #000;
}

#curr-progress {
    @include position(absolute, $center: true);
}

#max-progress {
    @include position(absolute, $right: 25px);
}

#rem-progress {
    @include position(absolute, $left: 25px);
}

.progress-bar {
    @extend .font-size;
    padding-top: 5px;
}

.btn-sm {
    @extend .font-size;
}

#changables {
    margin-bottom: 10px;
}

#level {
    @extend .font-size;
    text-align: right;
    height: 37px;
}

#level-btn {
    margin-left: 5px;
}

.btn-group {
    margin-left: 15px;
}

#s {
    @extend .font-size;
    height: 25px;
    margin-top: 6px;
    padding: 5px;
}
