extends layout

block content
  nav(class='navbar navbar-fixed-top')
    div(class='container')
      div(id='navbar')
        ul(class='nav navbar-nav')
          li(class='active')
            a(href='#') Home
          li
            a(href='#about') About
          li
            a(href='#contact') Contact
