doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href=static.css('bootstrap.min'))
  body
    block content
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(type='text/javascript', src=static.js('bootstrap.min'))
