include nav
doctype html
html
  head
    title= title
    link(rel='stylesheet', href=static.css('bootstrap.min'))
    link(rel='stylesheet', href=static.css('style'))
  body
    block nav
    block content
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    block custom_script