nav.navbar.navbar-static-top.navbar-default
  div.container
    div#navbar-main
      ul.nav.navbar-nav
        each job0 in jobs.filter(function(j) { return j.JobNumber == 0 })
          li.dropdown(class={active: job0 == line[0]})
            a(href='javascript:void(0)')= job0.JobName
              span.caret
            ul.dropdown-menu
              each job1 in jobs.filter(function(j) { return jobs[j.ParentJob] == job0 })
                li.dropdown-header= job1.JobName
                each job2 in jobs.filter(function(j) { return jobs[j.ParentJob] == job1 })
                  li: a(href='/#{job2.EnglishName}-#{cap}')= job2.JobName
