nav.navbar.navbar-static-top
  div.container
    div#navbar-main
      ul.nav.nav-pills
        each job0 in jobs.filter(function(j) { return j.JobNumber == 0 })
          li.dropdown(class={active: job0 == line[0]})
            a(href='javascript:void(0)')= job0.JobName
              span.caret
            ul.dropdown-menu
              each job1 in jobs.filter(function(j) { return jobs[j.ParentJob] == job0 })
                li.dropdown-header= job1.JobName
                each job2 in jobs.filter(function(j) { return jobs[j.ParentJob] == job1 })
                  li: a(href='/#{job2.EnglishName}-#{cap}')= job2.JobName
      div.nav.navbar-right
        div.form-group.pull-left
          select.form-control#levels
        div.btn-group.pull-right
          button#pve.btn.btn-sm.btn-info(type='button') PvE
          button#pvp.btn.btn-sm.btn-default(type='button') PvP