extends layout

block content
  nav(class='navbar navbar-default navbar-static-top')
    div(class='container')
      div(id='navbar')
        ul(class='nav navbar-nav')
          each job0 in jobs.filter(function(j) { return j.JobNumber == 0 })
            li(class='dropdown' + (job0 == jobs[jobs[job.ParentJob].ParentJob] ? ' active' : ''))
              a(href='#')= job0.JobName
                span(class='caret')
              ul(class='dropdown-menu')
                each job1 in jobs.filter(function(j) { return jobs[j.ParentJob] == job0 })
                  li(class='dropdown-header')= job1.JobName
                  each job2 in jobs.filter(function(j) { return jobs[j.ParentJob] == job1 })
                    li
                      a(href='/' + job2.EnglishName + '-' + cap)= job2.JobName
  div(class='container')
    div(class='row')
      div(class='col-md-4', style='background-color: #999') AAA
      div(class='col-md-4', style='background-color: #666') BBB
      div(class='col-md-4', style='background-color: #333') DDD
