mixin row_tech(name, attr_id, key)
  div.row
    div.col-md-2= name
    div.col-md-10.form-inline
      +selection(attr_id, key)
      if attr_id === 'weapon'
        div.disclaimer!= lang.techs.disclaimer

mixin selection(attr_id, key)
  select.form-control.tech-select(id='tech-' + attr_id)
    option
    for job in line
      if job.Techs[key].length > 0
        optgroup(label=job.JobName)
          for skillID in job.Techs[key]
            option(value=skillID)= lookup[job.Skills[skillID].NameID]
  button.btn.btn-default.tech +1


+row_tech(lang.techs.necklace, 'necklace', 'Necklace')
+row_tech(lang.techs.earring, 'earring', 'Earring')
+row_tech(lang.techs.ring1, 'ring-1', 'Ring')
+row_tech(lang.techs.ring2, 'ring-2', 'Ring')
+row_tech(lang.techs.weapon, 'weapon', 'Weapon')
+row_tech(lang.techs.crest, 'crest', 'Crest')
