nav {
    padding-top: 10px;
    margin-bottom: 0 !important;
}

.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    unselectable: on;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.caret {
    margin-left: 5px;
}

.jobsprite {
    width: 28.5px;
    height: 28.5px;
    float: left;
    margin-top: -4px;
    margin-right: 2px;
}

.label {
    font-size: 90%;
}

.skill-table {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: -5px -9px;
    background-size: 317px 510px;
}

.skill-td {
    padding: 0 10px 28px 10px;
}

.skill-tr:last-of-type .skill-td {
    padding: 0 10px;
}

.skill {
    height: 50px;
    width: 50px;
}

.skill-bdr {
    width: 50px;
    height: 50px;
    position: absolute;
}

.skill-bdr.gray {
    -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
}

.skill-lvl {
    position: relative;
    font-size: 10px;
    margin: 43px 0 0 0;
    width: 42px;
    left: 50%;
    transform: translateX(-50%);
    padding: 3px 6px;
    background-color: #111;
    letter-spacing: .5px;
}

.popover {
    width: 280px;
}

.popover, .popover-title {
    font-size: 11px;
}

.popover-title {
    text-align: center;
}

.popover .divider {
    border-bottom: 1px solid #666;
    width: 95%;
    margin: 5px 0;
}

.popover .o {
    color: orange;
}

.popover .y {
    color: yellow;
}

.popover .p {
    color: palegoldenrod;
}

.popover .r {
    color: #ff3232;
}

.popover .s {
    color: skyblue;
}

.popover .v {
    color: violet;
}

.popover .dnextv .v {
    color: royalblue;
}

.popover .dnow {
    border: 1px solid orange;
    margin-top: 5px;
    position: relative;
    left: -3px;
    padding: 2px;
}

.popover .dnextv {
    opacity: .8;
    filter: alpha(opacity = 80);
}

.progress {
    margin: 5px 0 15px 0;
    height: 20px;
    font-size: 14px;
    color: #000;
}

.curr-progress {
    position: absolute;
    left: 20px;
}

.max-progress {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


.rem-progress {
    position: absolute;
    right: 20px;
}

.progress-bar {
    font-size: 14px !important;
    padding-top: 5px;
}

.btn-sm {
    font-size: 14px;
}

.navbar-right {
    padding-right: 15px;
}

.nav-pills {
    float: left;
}

#level {
    font-size: 14px;
    text-align: right;
    height: 37px;
}

.form-group {
    margin-right: 10px;
}
