.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.caret {
    margin-left: 5px;
}

.skill-table {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: -5px -9px;
    background-size: 317px 510px;
}

.skill-td {
    padding: 0 10px 28px 10px;
}

.skill-tr:last-of-type .skill-td {
    padding: 0 10px;
}

.skill {
    height: 50px;
    width: 50px;
}

.skill-level {
    position: relative;
    font-size: 9px;
    margin: 43px 0 0 0;
    left: 51%;
    transform: translateX(-50%);
    padding: 2px 3px;
    letter-spacing: .75px;
    background-color: #111;
}